<template name="headerMgmtMenu">
    <a class="item" href="{{ pathFor 'driverInstances' }}">Hardware Connections</a>
    <a class="item" href="{{ pathFor 'devices' }}">Devices</a>
    <a class="item" href="{{ pathFor 'sensors' }}">Sensors</a>
    <div class="divider"></div>
    <a class="item" href="{{ pathFor 'actions' }}">Automation Actions</a>
    <a class="item" href="{{ pathFor 'schedules' }}">Schedules</a>
    <a class="item" href="{{ pathFor 'variables' }}">State Variables</a>
    <div class="divider"></div>
    <a class="item" href="{{ pathFor 'dashboards' }}">Dashboards</a>
    <a class="item" href="{{ pathFor 'settings' }}">System &amp; Settings</a>
</template>