<template name="header">
    <div id="main-header" class="ui fixed inverted menu managementMenu">

        {{#if renderHeader}}
            {{#if isWide}}
                <div class="ui container">
                    <div href="#" class="header item" onclick="$('#sidebarMenu').sidebar('toggle');">
                        <i class="block layout icon"></i>
                        Dashboards
                    </div>
                    <a href="{{ pathFor 'homepage' }}" class="item">Home</a>
                    <a href="{{ pathFor 'calendar' }}" class="item">Calendar</a>
                    {{#if allowManagement}}
                        <a href="#" class="ui simple dropdown item">
                            Manage <i class="dropdown icon"></i>
                            <div class="menu">
                               {{> headerMgmtMenu}}
                            </div>
                        </a>
                    {{/if}}
                </div>
            {{else}}
                    <a href="#" class="ui simple dropdown item mainDrop">
                        <i class="sidebar icon"></i>
                        <div class="menu">
                            <div class="ui dropdown item">
                                Dashboards
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    {{#each dashboards}}
                                        {{#if isActive}}
                                            <a class="active item closeOnClk" href="/dashboard/{{_id}}">{{title}}</a>
                                        {{else}}
                                            <a class="item closeOnClk" href="/dashboard/{{_id}}">{{title}}</a>
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>


                            <a class="item closeOnClk" href="{{ pathFor 'calendar' }}">Calendar</a>
                            {{#if allowManagement}}
                                <div class="divider"></div>
                                <div class="ui dropdown item">
                                    Hardware
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <a class="item closeOnClk" href="{{ pathFor 'driverInstances' }}">Connections</a>
                                        <a class="item closeOnClk" href="{{ pathFor 'devices' }}">Devices</a>
                                        <a class="item closeOnClk" href="{{ pathFor 'sensors' }}">Sensors</a>
                                    </div>
                                </div>
                                <div class="ui dropdown item">
                                    Automation
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <a class="item closeOnClk" href="{{ pathFor 'actions' }}">Automation Actions</a>
                                        <a class="item closeOnClk" href="{{ pathFor 'schedules' }}">Schedules</a>
                                        <a class="item closeOnClk" href="{{ pathFor 'variables' }}">State Variables</a>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <a class="item closeOnClk" href="{{ pathFor 'dashboards' }}">Dashboard Management</a>
                                <a class="item closeOnClk" href="{{ pathFor 'settings' }}">System &amp; Settings</a>
                            {{/if}}
                        </div>
                    </a>
                    <a href="{{ pathFor 'homepage' }}" class="item">Home</a>
            {{/if}}


            {{#if loggedIn}}
                <div class="right menu">
                    <a class="item signOut">
                        <i class="user icon"></i>Sign Out
                    </a>
                </div>
            {{else}}
                <div class="right menu">
                    {{#if allowSignIn}}
                    <a class="item signIn">
                        <i class="user icon"></i>Sign In
                    </a>
                    {{/if}}
                </div>
            {{/if}}

        {{else}}
            <div class="ui container">
                <div href="#" class="header item">
                    <i class="sidebar icon"></i>
                    Robolos
                </div>
            </div>
        {{/if}}
    </div>
</template>


