.content-header {
    margin-bottom:8px;
    margin-top:20px;
}

#content-footer {
    padding-top: 15px;
}

section.narrow {
    padding-top:20px;
}

.box-header {
    padding-bottom:10px;
}

.tableContent {
    min-width: 850px;
}

.tableContentHeader {
    min-width: 850px;
}

.header-buttons {
    float:right;
    margin-top:-6px;
    margin-right:-4px;
}

body {
    overflow-x: auto;
}
