<template name="notFound">

    <div class="ui container">
        <br/>
        <br/>
        <br/>
        <br/>
        <h2 class="ui center aligned huge icon header">
            <i class="circular bug icon"></i>
            404 Not Found
        </h2>
        <br/>
        <div class="ui message">
            <div class="header">
                Invalid URL
            </div>
            <ul class="list">
                <li>The object you are looking for is no longer available because it has been deleted.</li>
                <li>You are using malformed or incomplete URL.</li>
            </ul>
        </div>
    </div>

</template>
