.switchedOff {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.gridsterWrapper {
    overflow:auto;
}

.sensorLabel {
    position:absolute;
    z-index: 200000;
    top: 45%;
    left: 0px;
    bottom: 0;
    right: 0;
    font-size:48px;
    margin-left:auto;
    margin-right:auto;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.sensorLabelFP {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 200000;
    top: 50%;
    left: 0px;
    right: 0;
    font-size: 14px;
}

.sensorLabelSmall {
    font-size: 24px;
}

.sensorLabelSmallFP {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 10px;
}

.sensorLabelMedium {
    font-size: 36px;
}

.sensorLabelMediumFP {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}


.dateLabel {
    position:absolute;
    z-index: 200000;
    top: 33%;
    left: 0px;
    bottom: 0;
    right: 0;
    font-size:48px;
    margin-left:auto;
    margin-right:auto;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dateLabelFP {
    position:absolute;
    z-index: 200000;
    top: 33%;
    left: 0px;
    bottom: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
}

.dashboardFooter {
    height:32px;padding-top:8px;
}

.dashboardIcon {
    max-width:128px;
    max-height:128px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    z-index: 100000;
    transform: translate(-50%, -50%)
}

.dashboardIconFP {
    width:100%;
    height:100%;
    min-width:100%;
    min-height:100%;
}

.fpWidget {
    position: absolute;
    width:48px;
    height:48px;
}

.timerETA {
    position: relative; top:2px; left: -50%;color: #000033;-webkit-text-stroke-width: 0px;
    padding-top: 10px;
}

.progress {
    height :20px;
}

.FP .progress {
    height :13px;
}

.FP .timerETA {
    font-size: 8px;
    padding-top: 0px;
    top: 0px;
}

#nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
#nwgrip {
    left: -5px;
    top: -5px;
}
#negrip{
    top: -5px;
    right: -5px;
}
#swgrip{
    bottom: -5px;
    left: -5px;
}
#segrip{
    bottom: -5px;
    right:-5px;
}
#ngrip{
    top: -5px;
    left:44%;
}
#sgrip{
    bottom: -5px;
    left: 44%;
}
#wgrip{
    left:-5px;
    top:44%;
}
#egrip{
    right:-5px;
    top:44%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.actionOverlay {
    position:absolute; left: 50%;margin-top:40px;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: white;z-index:200000
}

.actionOverlayFP {
    position:absolute;left: 50%;width:100%
}

.actionTexts {
    position: relative;
    left: -50%;
}

.actionLabel {
    width: 165px;
    border-bottom: 8px
}

.actionMessage {
    font-weight: 900;
    color: black;
}

.resumeAction {
    opacity:0.4;
}


.ui.card > .contentNoPadding {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    background: none;
    margin: 0em;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0em;
    position:relative;
    padding:0;
}

.sensorActionOverlay {
    z-index:200010;position:absolute;height:100%;width:100%;
}